.videoPlayer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 100vh;
  align-items: center;
}

iframe {
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  width: 80vw;
  height: 60vh;
}
